* {
  margin: 0;
  padding: 0;
}
body,
input,
textarea,
button,
td,
th {
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
}
body {
  color: #fff;
  background: #383838;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
p {
  margin: 7px 0;
}
header {
  background: #303030;
  height: 45px;
  position: relative;
}
header nav {
  font-size: 20px;
  background: #ccc;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
header nav a {
  color: #303030;
  padding: 10px;
  display: inline-block;
}
header nav a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
h2 {
  font-size: 30px;
}
h2 span {
  color: #5fbf55;
  margin-right: 10px;
}
h3 {
  font-size: 25px;
  margin: 10px 0;
}
.page {
  padding: 20px;
}
.page nav a {
  display: block;
  padding: 3px 0;
}
.comments {
  overflow: hidden;
}
.comments .comment {
  overflow: hidden;
  margin: 15px 0;
}
.comments .comment .avatar {
  float: left;
  margin-right: 10px;
  border: 1px solid #808080;
  margin-top: 10px;
}
.comments .comment .avatar img {
  display: block;
  height: 30px;
}
.comments .comment p.user {
  font-weight: bold;
  font-size: 15px;
}
#impacto {
  width: 300px;
  height: 300px;
}
#geo {
  width: 750px;
  height: 500px;
}
.legend {
  background: #232323;
  padding: 5px;
  display: inline-block;
}
.legend p {
  display: inline-block;
  margin: 7px 10px;
}
.legend p .icon-thumbs-up {
  color: #6673d8;
}
.legend p .icon-thumbs-up-2 {
  color: #d13b3b;
}
table {
  margin: 20px 0;
  border-spacing: 0;
}
table td,
table th {
  padding: 3px 5px;
  border-bottom: 1px solid rgba(255,255,255,0.20);
}
table td img,
table th img {
  margin-right: 10px;
}
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot");
  src: url("fonts/icomoon.eot?#iefix") format('embedded-opentype'), url("fonts/icomoon.woff") format('woff'), url("fonts/icomoon.ttf") format('truetype'), url("fonts/icomoon.svg#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'icomoon';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"]:before {
*/
.icon-home:before,
.icon-stats:before,
.icon-twitter:before,
.icon-facebook:before,
.icon-users:before,
.icon-bubbles:before,
.icon-signup:before,
.icon-thumbs-up:before,
.icon-thumbs-up-2:before {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.icon-home:before {
  content: "\e002";
}
.icon-stats:before {
  content: "\6b";
}
.icon-twitter:before {
  content: "\e111";
}
.icon-facebook:before {
  content: "\e10d";
}
.icon-users:before {
  content: "\46";
}
.icon-bubbles:before {
  content: "\41";
}
.icon-signup:before {
  content: "\e055";
}
.icon-thumbs-up:before {
  content: "\e076";
}
.icon-thumbs-up-2:before {
  content: "\e077";
}
