doctype 5
html
    head
        meta(charset="utf-8")

        title 404 | El contenido solicitado no existe

        link(href="//fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet")
        link(href="/stylesheets/404.css", rel="stylesheet")
    body
        .content
            img(src="/images/404.png", alt="El contenido solicitado no existe")

            p El contenido solicitado no existe