doctype 5
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1 ,maximum-scale=1")

    title Mejorando.la Chat

    link(href="//fonts.googleapis.com/css?family=Open+Sans",rel="stylesheet")
    link(href="/stylesheets/website/index.css?v=1.1", rel="stylesheet")

    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js")
    script(src="/socket.io/socket.io.js")
    script(src="/javascripts/website/date-es-ES.js")
    script(src="/javascripts/website/index.js?v=1.1")

  body
    block content