body 
    background-color #f7f7f5


body, input, textarea, button, a
    color #555452

::selection
    background-color #f5e00d


.chat
    .chatbox
        .chatform
            &.sending:after
                background-color rgba(247, 247, 245, 0.6)
                background-image url(/images/conferencia/form-sending.gif)

            .publish
                background-color #f5e00d
                background-image none
                padding-left 20px
                bottom 1px
                right 1px

                &:before
                    content " "
                    position absolute
                    left -20px
                    top 0
                    border-right 20px solid #f5e00d
                    border-top 27px solid transparent

            input[type="text"]
                background-color #ececec
                box-shadow inset 0 0 7px rgba(0, 0, 0, 0.1)
                border-color #a5a5a3

    .messages
        .message
            &.sameuser
                background-color #ececec
                border-color #f5e00d

            &.destacado
                .avatar
                    &:after
                        background-image url(/images/conferencia/staff.png)
                    img 
                        border-color #555452

            .avatar
                img
                    border-color #ececec

            .mention
                background-color #565455
                color white
                padding 0 3px
                border-radius 3px

            .responder
                background-color rgba(85, 84, 82, 0.7)

            .borrar
                background-image url(/images/conferencia/borrar.png)


#login
    .overlay
        background-color rgba(228, 227, 225, 0.5)

    .panel
        background-color #f7f7f5
        box-shadow 4px 4px 0 #888888

        a
            color white

.emoticon
    background-image url(/images/conferencia/emoticons.png)